<%_ if (theme.special_sponsors) { _%>
<div id="sidebar-sponsors-special">
  <div class="main-sponsor">
  </div>
</div>
<%_ } _%>
<!--
<%_ if (!page.sponsors && !page.partners) { _%>
<%- partial('partials/platinum_sponsors', { context: 'left' }) %>
<%_ } _%>
-->
